flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f14e9fe2.02d7d","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":80,"wires":[["405eaa63.68b614"]]},{"id":"405eaa63.68b614","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":140,"wires":[]},{"id":"445b92dd.a8e32c","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":60,"y":220,"wires":[["ac4b401.d53c4c"]]},{"id":"4eef2316.9bc84c","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":400,"y":220,"wires":[]},{"id":"ac4b401.d53c4c","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":220,"wires":[["4eef2316.9bc84c"]]}]